<link rel="alternate" type="application/atom+xml" title="Wisteria Blog" href="/atom.xml">
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
<link rel="stylesheet" href="/css/sidebar-toc-fix.css">
<link rel="stylesheet" href="/css/sidebar-home-author.css?v=20260917-1">
<link rel="stylesheet" href="/css/wisteria-foundation.css?v=20260918-1">
<script defer src="/js/sidebar-toc-fix.js"></script>
